body {
  background-color: #202040;
}
.App {
  background-color: #a2d0c1;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input {
  background-color: #0f3057;
  border: 0;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#to-do-form input:focus {
  outline: none;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background: #ffe3de;
  cursor: pointer;
  font-size: larger;
}
#to-do-form button:focus {
  outline: none;
}
.list {
  color: #fff;
  width: 300px;
  margin: 20px auto;
  height: 50px;
  background-color: #e8e9a1;
  border-radius: 5px;
  color: #0f1123;
  font-style: italic;
  font-size: larger;
}
.TiDelete {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}
